@font-face {
  font-family: "icon"; /* Project id 3609268 */
  src: url('//at.alicdn.com/t/c/font_3609268_68uniir4rad.eot?t=1661509561707'); /* IE9 */
  src: url('//at.alicdn.com/t/c/font_3609268_68uniir4rad.eot?t=1661509561707#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('//at.alicdn.com/t/c/font_3609268_68uniir4rad.woff2?t=1661509561707') format('woff2'),
       url('//at.alicdn.com/t/c/font_3609268_68uniir4rad.woff?t=1661509561707') format('woff'),
       url('//at.alicdn.com/t/c/font_3609268_68uniir4rad.ttf?t=1661509561707') format('truetype'),
       url('//at.alicdn.com/t/c/font_3609268_68uniir4rad.svg?t=1661509561707#icon') format('svg');
}

.icon {
  font-family: "icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hot:before {
  content: "\e758";
}

.icon-qq:before {
  content: "\e601";
}

.icon-comment:before {
  content: "\e64b";
}

.icon-anchor:before {
  content: "\e605";
}

.icon-github:before {
  content: "\e628";
}

.icon-tag:before {
  content: "\e7e4";
}

.icon-menu:before {
  content: "\e7f4";
}

.icon-calendar-check:before {
  content: "\ef5b";
}

.icon-calendar-times:before {
  content: "\ef5c";
}

.icon-link:before {
  content: "\e772";
}

.icon-search:before {
  content: "\e82e";
}

.icon-angle-down:before {
  content: "\e84c";
}

.icon-angle-up:before {
  content: "\e84d";
}

.icon-angle-right:before {
  content: "\e84e";
}

.icon-angle-left:before {
  content: "\e84f";
}

.icon-close:before {
  content: "\e6e9";
}

.icon-folder-open:before {
  content: "\e604";
}

.icon-calendar:before {
  content: "\e634";
}

.icon-icon_code:before {
  content: "\e68d";
}

.icon-folder:before {
  content: "\e6b0";
}

.icon-project:before {
  content: "\e624";
}

.icon-005-archives:before {
  content: "\e6af";
}

.icon-archives-fill:before {
  content: "\e9d4";
}

.icon-calendar-minus:before {
  content: "\eb01";
}

.icon-calendar-plus:before {
  content: "\eb02";
}

.icon-shouye:before {
  content: "\e8c6";
}

.icon-xiazai:before {
  content: "\e600";
}

.icon-shengchan:before {
  content: "\e619";
}

.icon-bangzhu:before {
  content: "\e620";
}

.icon-gengxinrizhi:before {
  content: "\e65f";
}
